@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<VoHoangDat_1811060166.Models.Course>
@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Datetime - @course.Lecturer.Name
             </li>
        }
    </ul>
</div>

